* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.justified {
    display: flex;
    justify-content: space-between;
}

.cardItem {
    padding: 10px 0 0 10px;
    margin: 7px;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
}

.cardText {
    color: #6c757d;
}

.bold {
    font-weight: bold;
}

.tasktitle{
    padding:0px;
    margin:0px;
    font-size: 1.4rem;
}

.cardTitleText {
    color: #212529;
}

.avatar {
    border-radius: 50%;
    max-width: 50px;
    padding-right: 5px
}

.ttt {
    padding: 10px;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #6c757d;
    font-weight: bold;
}

.taskBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    font-weight: bold;
}

.tools {
    font-weight: bold;
    color: #6c757d;
}

input[type=text] {
    border: 1px solid rgb(173, 173, 173);
}

.flexing {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 2.5rem;
    gap: 1rem;
    position: relative;
    right: 2rem;
    width: 100%;
}

.iconsize {
    width: 5rem;
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #19c509;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End Toogle switch */


.icon:hover {
    background-color: #ccc;
    border-radius: 10px;
}

.close {
    background-color: rgba(255,255,255,00);
    border: none;
}


.spacer {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.details {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    
}

.image--flex {
    display: flex;
    flex-direction: row-reverse;
}

.flexer {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    top:2rem;
}

.circle-width {
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin:0;
    padding:0;
}

.close-icon {
        width: 1.5rem;
        height: 1.5rem;
}
.close-icon:hover {
        background-color: white;
        border-radius: 10rem;
}